<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer clearfix">
        <div class="footer-right">
            <a href="https://www.facebook.com/groups/primefaces"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/primefaces"><i class="fa fa-twitter"></i></a>
            <span>MVP - All Rights Reserved 2017-2020</span>
        </div>
        
    </div>
</ui:composition>