<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pv="http://primefaces.org/verona">
    
    <div class="layout-menu-wrapper fadeInDown">
        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="layout-menu-container">
                    <h:form>
                        <pv:menu>
                            <p:menuitem id="om_dashboard" value="DASHBOARD" icon="fa fa-home" outcome="/index"/>
                            <p:submenu id="om_components" label="STRENGTH/CONDITIONING" icon="fa fa-clipboard">
                                <p:menuitem id="om_programs" value="Programs" icon="fa fa-caret-right" outcome="/programs" />
                                <p:menuitem id="om_workouts" value="Workouts" icon="fa fa-caret-right" outcome="/workouts" />
                                <p:menuitem id="om_workoutphases" value="Workout Phases" icon="fa fa-caret-right" outcome="/workoutphases" />
                                <p:menuitem id="om_unitsofmeasure" value="Units of Measure" icon="fa fa-caret-right" outcome="/unitsofmeasure" />
                                <p:menuitem id="om_exercises" value="Exercises" icon="fa fa-caret-right" outcome="/exercises" />                                
                                <p:menuitem id="om_equipment" value="Equipment" icon="fa fa-caret-right" outcome="/equipment" />
                            </p:submenu>
                            <p:submenu id="om_athletes" label="Athlete Management" icon="fa fa-male">
                            <p:menuitem id="om_athletes_personal" value="Athlete Personal" icon="fa fa-caret-right" outcome="/athletepersonal" />
                            <p:menuitem id="om_athletes_parent" value="Athlete Parent" icon="fa fa-caret-right" outcome="/athleteparent" />                            
                            <p:menuitem id="om_athletes_academic" value="Athlete Academic" icon="fa fa-caret-right" outcome="/athleteacademic" />                            
                            <p:menuitem id="om_athletes_physical" value="Athlete Physical" icon="fa fa-caret-right" outcome="/athletephysical" />
                            <p:menuitem id="om_athletes_mobility" value="Athlete Mobility" icon="fa fa-caret-right" outcome="/athletemobility" />  
							<p:menuitem id="om_athletes_strength_max" value="Athlete Strength Maxes" icon="fa fa-caret-right" outcome="/athletestrengthmax" /> 
							<p:menuitem id="om_athletes_speed_max" value="Athlete Speed Maxes" icon="fa fa-caret-right" outcome="/athletespeedmax" />       
							<p:menuitem id="om_athletes_misc_max" value="Athlete Misc Maxes" icon="fa fa-caret-right" outcome="/athletemiscmax" />                                                     	
                            </p:submenu>
                            <p:menuitem id="om_testing" value="TESTING" icon="fa fa-cog" />
                            <p:submenu id="om_hierarchy" label="SETTINGS" icon="fa fa-cog">
                                <p:submenu id="om_sm1" label="Submenu 1" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm11" label="Submenu 1.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk111" value="Link 1.1.1" icon="fa fa-sign-in" url="#" />
                                        <p:menuitem id="om_lnk112" value="Link 1.1.2" icon="fa fa-sign-in" url="#" />
                                        <p:menuitem id="om_lnk113" value="Link 1.1.3" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                    <p:submenu id="om_sm12" label="Submenu 1.2" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk121" value="Link 1.2.1" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                </p:submenu>
                                <p:submenu id="om_sm2" label="Submenu 2" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm21" label="Submenu 2.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk211" value="Notifications" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                </p:submenu>
                            </p:submenu>
                            <p:menuitem id="om_doc" value="DOCS" icon="fa fa-book" outcome="/docs"/>
                        </pv:menu>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
    
</ui:composition>