<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">PrimeFaces Verona</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="verona-layout" />
        <h:outputScript name="js/layout.js" library="verona-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">
        <div class="layout-wrapper #{!guestPreferences.overlayMenu ? 'layout-menu-static' : null}">
            <ui:include src="./topbar.xhtml" />

            <div class="layout-content">            
                <ui:insert name="content"/>
            </div>
            
            <ui:include src="./footer.xhtml" />
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
       
        <h:outputStylesheet name="css/nanoscroller.css" library="verona-layout" />
        <h:outputStylesheet name="css/animate.css" library="verona-layout" />
        <h:outputStylesheet name="css/layout.css" library="verona-layout" />
    </h:body>

</html>