<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/verona">

    <div class="topbar">
        <div class="topbar-main">
            <a href="#" id="menu-button">
                <span class="fa fa-bars"></span>
            </a>
            <h:link outcome="/index">
                <p:graphicImage name="images/logo-main.png" library="verona-layout" styleClass="logo"/>
            </h:link>
            <div class="app-name">MVP</div>
            
            <a href="#" id="user-display">
                <span class="username">James Chrystal</span>
                <span class="userrole">Admin</span>
                <p:graphicImage name="images/avatar1.png" library="verona-layout" />
            </a>
            
            <ul id="topbar-menu" class="fadeInDown animated">
                <li class="search-item">
                    <div>
                        <p:inputText type="text" placeholder="Search" />
                        <span class="fa fa-search" />
                    </div>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon fa fa-fw fa-user"></i>
                        <span class="topbar-item-name">PROFILE</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user-secret"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon fa fa-fw fa-cog"></i>
                        <span class="topbar-item-name">SETTINGS</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-paint-brush"></i>
                                <span>Change Theme</span>
                                <span class="topbar-submenuitem-badge">4</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-star-o"></i>
                                <span>Favorites</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-lock"></i>
                                <span>Lock Screen</span>
                                <span class="topbar-submenuitem-badge">2</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-picture-o"></i>
                                <span>Wallpaper</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons animated swing fa fa-fw fa-envelope-o"></i>
                        <span class="topbar-item-name">MESSAGES</span>
                        <span class="topbar-badge animated rubberBand">4</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar1.png" library="verona-layout" width="35"/>
                                <span>Give me a call</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar2.png" library="verona-layout" width="35"/>
                                <span>Reports attached</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar3.png" library="verona-layout" width="35"/>
                                <span>About your invoice</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar2.png" library="verona-layout" width="35"/>
                                <span>Meeting today</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar4.png" library="verona-layout" width="35"/>
                                <span>Out of office</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon fa fa-fw fa-bell-o"></i>
                        <span class="topbar-item-name">NOTIFICATIONS</span>
                        <span class="topbar-badge animated rubberBand">2</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-tasks"></i>
                                <span>Pending tasks</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-calendar-check-o"></i>
                                <span>Meeting today</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-download"></i>
                                <span>Download</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-plane"></i>
                                <span>Book flight</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <ui:include src="./menu.xhtml" />
    </div>

</ui:composition>