<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Verona - Error</title>
    </h:head>

    <h:body styleClass="exception-body">
        <div class="exception-panel">
            <p:graphicImage name="images/icon-404.png" library="verona-layout" />
            
            <h1>Page Not Found</h1>
            <p>The page you requested cannot be found.</p>
            <p:button value="DASHBOARD" styleClass="black-btn rounded-btn" outcome="/index" />
        </div>
    
        <h:outputStylesheet name="css/layout.css" library="verona-layout" />
    </h:body>

</html>