<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="WEB-INF/templates/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="content">
        <div class="ui-g dashboard">            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
            	<h:link outcome="/programs">
                <div class="ui-g card overview-box overview-box-1">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-paper.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count"></span> 
                        <span class="overview-box-name">PROGRAMS</span>
                    </div>
                </div>
                </h:link>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-2">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-paper.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">#{workoutView.count}</span>
                        <span class="overview-box-name">WORKOUTS</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-3">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-paper.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">#{exerciseView.count}</span>
                        <span class="overview-box-name">EXERCISES</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-3">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-paper.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">#{equipmentView.count}</span>
                        <span class="overview-box-name">MACHINES</span>
                    </div>
                </div>
            </div>            
       </div>
    </ui:define>

</ui:composition>