<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="exercisePanel" class="ui-g-12">            
                    <p:panel id="exerciseList" class="card card-w-title" rendered="#{exerciseView.listVisible}">
                        <h1>Exercise List</h1>
                        <p:dataTable value="#{exerciseView.all}" 
                        			 var="exercise"
                                     rowKey="#{exercise.id}" 
                                     selectionMode="single"
                                     paginator="true" rows="10">
                            <p:ajax event="rowSelect" listener="#{exerciseView.onRowSelect}" update=":form:exercisePanel" />
                            <p:column headerText="Name">
                                <h:outputText value="#{exercise.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{exercise.description}" />
                            </p:column>
                            <p:column headerText="Testable">
                                <h:outputText value="#{exercise.testable}" />
                            </p:column>                            
                        </p:dataTable>
                        <p:commandButton value="Create" update=":form:exercisePanel" immediate="true" action="#{exerciseView.onAdd}" style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="exerciseViewPanel" class="card card-w-title" rendered="#{exerciseView.viewVisible}">
						<h1>Exercise Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{exerciseView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{exerciseView.current.description}" />
							<p:outputLabel value="Testable:" />
							<h:outputText value="#{exerciseView.current.testable}" />							
						</h:panelGrid><br />
						<p:commandButton value="Edit" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onList}" immediate="true" icon="ui-icon-close" />
	        			<p:commandButton value="Delete" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onDelete}" icon="ui-icon-minus">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this Exercise?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
					</p:panel>

                	<p:panel id="exerciseEditPanel" class="card card-w-title" rendered="#{exerciseView.editVisible}">
                		<h1>#{exerciseView.current.persistent ? "Creating new" : "Updating existing"} exercise</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{exerciseView.current.name}" required="true" requiredMessage="Name is required"/>
							<p:outputLabel value="Description:" />
							<p:inputText id="description" value="#{exerciseView.current.description}" required="true" requiredMessage="Description is required"/>
							<p:outputLabel value="Testable?:" />
							<p:selectBooleanCheckbox id="testable" value="#{exerciseView.current.testable}" required="true" />
							<p:outputLabel value="Equipment:" />

					    <h:selectManyCheckbox id="equipment" value="#{exerciseView.current.equipment}" layout="grid" columns="3" collectionType="java.util.ArrayList">
					        <f:selectItems value="#{equipmentBean.all}" var="equipment" itemLabel="#{equipment.id}" itemValue="#{equipment}" />
					    </h:selectManyCheckbox>

						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:exercisePanel" action="#{exerciseView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>
                	
				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
