<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Sample</ui:define>

	<ui:define name="head">
		<style type="text/css">
.ui-panelgrid.form-elements .ui-grc-2 {
	padding-left: 80px;
}

@media ( max-width :1024px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 20px;
	}
}

@media ( max-width :640px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 0px;
	}
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="ui-g">


				<p:panel id="parentPanel" class="ui-g-8">
					<p:panel id="parentList" class="card card-w-title"
						rendered="#{parentView.listVisible}">
						<h1>Parent List</h1>
						<p:dataTable value="#{parentView.all}" var="parent"
							rowKey="#{parent.id}" selectionMode="single" paginator="true"
							rows="10">
							<p:column style="width: 32px;">
								<p:commandButton title="Click for details"
									update=":form:parentPanel,:form:growl"
									action="#{parentView.onView}" icon="ui-icon-folder-open">
									<f:setPropertyActionListener value="#{parent}"
										target="#{parentView.current}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="First Name">
								<h:outputText value="#{parent.firstName}" />
							</p:column>
							<p:column headerText="Middle Name">
								<h:outputText value="#{parent.middleName}" />
							</p:column>
							<p:column headerText="Last Name">
								<h:outputText value="#{parent.lastName}" />
							</p:column>
							<p:column headerText="Athlete Name">
								<h:outputText value="#{parent.athlete.firstName} #{parent.athlete.middleName} #{parent.athlete.lastName}" />
							</p:column>
						</p:dataTable>
						<p:commandButton value="Create" update=":form:parentPanel"
							immediate="true" action="#{parentView.onAdd}"
							style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="parentViewPanel" class="card card-w-title"
						rendered="#{parentView.viewVisible}">
						<h1>Parent of #{parentView.current.athlete.firstName} #{parentView.current.athlete.middleName} #{parentView.current.athlete.lastName}</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="First Name:" />
							<h:outputText value="#{parentView.current.firstName}" />
							<p:outputLabel value="Middle Name" />
							<h:outputText value="#{parentView.current.middleName}" />
							<p:outputLabel value="Last Name:" />
							<h:outputText value="#{parentView.current.lastName}" />
							<p:outputLabel value="Occupation:" />
							<h:outputText value="#{parentView.current.occupation}" />
							<p:outputLabel value="Email Address:" />
							<h:outputText value="#{parentView.current.emailAddress}" />
							<p:outputLabel value="Phone Number:" />
							<h:outputText value="#{parentView.current.phoneNumber}" />
							<p:outputLabel value="College:" />
							<h:outputText value="#{parentView.current.college}" />
							<p:outputLabel value="Living With:" />
							<h:outputText value="#{parentView.current.livingWith}" />
							<p:outputLabel value="Athlete Name:" />
							<h:outputText value="#{parentView.current.athlete.firstName} #{parentView.current.athlete.middleName} #{parentView.current.athlete.lastName}" />
							




						</h:panelGrid>
						<br />
						<p:commandButton value="Edit"
							update=":form:parentPanel,:form:growl"
							action="#{parentView.onEdit}" style="margin-bottom: 30px;"
							icon="ui-icon-pencil" />
						<p:commandButton value="Done"
							update=":form:parentPanel,:form:growl"
							action="#{parentView.onList}" immediate="true"
							icon="ui-icon-close" />
						<p:commandButton value="Delete"
							update=":form:parentPanel,:form:growl"
							action="#{parentView.onDelete}" icon="ui-icon-minus">
							<p:confirm header="Please confirm"
								message="Are you sure you want to delete this DCA?  Action cannot be undone."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panel>

					<p:panel id="parentEditPanel" class="card card-w-title"
						rendered="#{parentView.editVisible}">
						<h1>#{parentView.current.persistent ? "Creating new" :
							"Updating existing"} parent</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="First Name:" />
							<p:inputText id="firstName"
								value="#{parentView.current.firstName}" required="true"
								requiredMessage="First name is required" />
							<p:outputLabel value="Middle Name:" />
							<p:inputText id="middleName"
								value="#{parentView.current.middleName}" />
							<p:outputLabel value="Last Name:" />
							<p:inputText id="lastName"
								value="#{parentView.current.lastName}" required="true"
								requiredMessage="Last name is required" />
							<p:outputLabel value="Occupation:" />
							<p:inputText id="occupation"
								value="#{parentView.current.occupation}" />
							<p:outputLabel value="Phone Number:" />
							<p:inputText id="phoneNumber"
								value="#{parentView.current.phoneNumber}" />
							<p:outputLabel value="Email Address:" />
							<p:inputText id="emailAddress"
								value="#{parentView.current.emailAddress}" />
							<p:outputLabel value="College:" />
							<p:inputText id="college"
								value="#{parentView.current.college}" />
							<p:outputLabel value="Living With?:" />
							<p:selectBooleanCheckbox id="livingWith" value="#{parentView.current.livingWith}"  />
							<p:selectOneMenu id="athlete" value="#{parentView.current.athlete}" collectionType="java.util.ArrayList" converter="#{athleteConverter}">
						    	<f:selectItems value="#{athleteView.all}" var="athlete" itemLabel="#{athlete.firstName} #{athlete.middleName} #{athlete.lastName} " itemValue="#{athlete}" />
						    </p:selectOneMenu>	
						</h:panelGrid>
						<br />
						<p:commandButton value="Save"
							update=":form:parentPanel,:form:growl"
							action="#{parentView.onSave}" style="margin-top: 20px;"
							icon="ui-icon-disk" />
						<p:commandButton value="Cancel" update=":form:parentPanel"
							action="#{parentView.onList}" immediate="true"
							icon="ui-icon-cancel" />
					</p:panel>

				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
