<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Sample</ui:define>

	<ui:define name="head">
		<style type="text/css">
.ui-panelgrid.form-elements .ui-grc-2 {
	padding-left: 80px;
}

@media ( max-width :1024px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 20px;
	}
}

@media ( max-width :640px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 0px;
	}
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="ui-g">


				<p:panel id="athletePanel" class="ui-g-8">
					<p:panel id="athleteList" class="card card-w-title"
						rendered="#{athleteView.listVisible}">
						<h1>Athlete List</h1>
						<p:dataTable value="#{athleteView.all}" var="athlete"
							rowKey="#{athlete.id}" selectionMode="single" paginator="true"
							rows="10">
							<p:column style="width: 32px;">
								<p:commandButton title="Click for details"
									update=":form:athletePanel,:form:growl"
									action="#{athleteView.onView}" icon="ui-icon-folder-open">
									<f:setPropertyActionListener value="#{athlete}"
										target="#{athleteView.current}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="First Name">
								<h:outputText value="#{athlete.firstName}" />
							</p:column>
							<p:column headerText="Middle Name">
								<h:outputText value="#{athlete.middleName}" />
							</p:column>
							<p:column headerText="Last Name">
								<h:outputText value="#{athlete.lastName}" />
							</p:column>
						</p:dataTable>
						<p:commandButton value="Create" update=":form:athletePanel"
							immediate="true" action="#{athleteView.onAdd}"
							style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="athleteViewPanel" class="card card-w-title"
						rendered="#{athleteView.viewVisible}">
						<h1>Athlete Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="First Name:" />
							<h:outputText value="#{athleteView.current.firstName}" />
							<p:outputLabel value="Middle Name" />
							<h:outputText value="#{athleteView.current.middleName}" />
							<p:outputLabel value="Last Name:" />
							<h:outputText value="#{athleteView.current.lastName}" />
							<p:outputLabel value="Phone Number:" />
							<h:outputText value="#{athleteView.current.phoneNumber}" />
							<p:outputLabel value="Email Address:" />
							<h:outputText value="#{athleteView.current.emailAddress}" />
							<p:outputLabel value="Date of Birth:" />
							<h:outputText value="#{athleteView.current.dateOfBirth}" />
							<p:outputLabel value="Graduation Year:" />
							<h:outputText value="#{athleteView.current.graduationYear}" />
							<p:outputLabel value="Address Line 1:" />
							<h:outputText value="#{athleteView.current.addressLineOne}" />
							<p:outputLabel value="Address Line 2:" />
							<h:outputText value="#{athleteView.current.addressLineTwo}" />
							<p:outputLabel value="City:" />
							<h:outputText value="#{athleteView.current.city}" />
							<p:outputLabel value="State:" />
							<h:outputText value="#{athleteView.current.state}" />
							<p:outputLabel value="Zip:" />
							<h:outputText value="#{athleteView.current.zip}" />



						</h:panelGrid>
						<br />
						<p:commandButton value="Edit"
							update=":form:athletePanel,:form:growl"
							action="#{athleteView.onEdit}" style="margin-bottom: 30px;"
							icon="ui-icon-pencil" />
						<p:commandButton value="Done"
							update=":form:athletePanel,:form:growl"
							action="#{athleteView.onList}" immediate="true"
							icon="ui-icon-close" />
						<p:commandButton value="Delete"
							update=":form:athletePanel,:form:growl"
							action="#{athleteView.onDelete}" icon="ui-icon-minus">
							<p:confirm header="Please confirm"
								message="Are you sure you want to delete this DCA?  Action cannot be undone."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panel>

					<p:panel id="athleteEditPanel" class="card card-w-title"
						rendered="#{athleteView.editVisible}">
						<h1>#{athleteView.current.persistent ? "Creating new" :
							"Updating existing"} athlete</h1>
						<p:panel id="athleteImagePanel" class="ui-g-4">
							<h:graphicImage
								value="#{athleteView.current.pictureLocation == null ? 
                		          'https://s3.us-east-2.amazonaws.com/www.gotanybeer.com/image.png' : athleteView.current.pictureLocation }"
								style="max-width : 100%" />
						</p:panel>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="First Name:" />
							<p:inputText id="firstName"
								value="#{athleteView.current.firstName}" required="true"
								requiredMessage="First name is required" />
							<p:outputLabel value="Middle Name:" />
							<p:inputText id="middleName"
								value="#{athleteView.current.middleName}" />
							<p:outputLabel value="Last Name:" />
							<p:inputText id="lastName"
								value="#{athleteView.current.lastName}" required="true"
								requiredMessage="Last name is required" />
							<p:outputLabel value="Phone Number:" />
							<p:inputText id="phoneNumber"
								value="#{athleteView.current.phoneNumber}" />
							<p:outputLabel value="Email Address:" />
							<p:inputText id="emailAddress"
								value="#{athleteView.current.emailAddress}" />
							<p:outputLabel value="Date of Birth:" />
							<p:calendar id="button"
								value="#{athleteView.current.dateOfBirth}" showOn="button" />
							<p:outputLabel value="Graduation Year:" />
							<p:inputText id="graduationYear"
								value="#{athleteView.current.graduationYear}" />
							<p:outputLabel value="Address Line 1:" />
							<p:inputText id="addressLineOne"
								value="#{athleteView.current.addressLineOne}" />
							<p:outputLabel value="Address Line 2:" />
							<p:inputText id="addressLineTwo"
								value="#{athleteView.current.addressLineTwo}" />
							<p:outputLabel value="City:" />
							<p:inputText id="city" value="#{athleteView.current.city}" />
							<p:outputLabel value="State:" />
							<p:inputText id="state" value="#{athleteView.current.state}" />
							<p:outputLabel value="Zip:" />
							<p:inputText id="zip" value="#{athleteView.current.zip}" />
							<p:outputLabel value="Profile Image URL:" />
							<p:inputText id="pictureLocation"
								value="#{athleteView.current.pictureLocation}" />
						</h:panelGrid>
						<br />
						<p:commandButton value="Save"
							update=":form:athletePanel,:form:growl"
							action="#{athleteView.onSave}" style="margin-top: 20px;"
							icon="ui-icon-disk" />
						<p:commandButton value="Cancel" update=":form:athletePanel"
							action="#{athleteView.onList}" immediate="true"
							icon="ui-icon-cancel" />
					</p:panel>

				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
