<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Sample</ui:define>

	<ui:define name="head">
		<style type="text/css">
.ui-panelgrid.form-elements .ui-grc-2 {
	padding-left: 80px;
}

@media ( max-width :1024px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 20px;
	}
}

@media ( max-width :640px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 0px;
	}
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="ui-g">


				<p:panel id="academicPanel" class="ui-g-8">
					<p:panel id="academicList" class="card card-w-title"
						rendered="#{academicView.listVisible}">
						<h1>Academic List</h1>
						<p:dataTable value="#{academicView.all}" var="academic"
							rowKey="#{academic.id}" selectionMode="single" paginator="true"
							rows="10">
							<p:column style="width: 32px;">
								<p:commandButton title="Click for details"
									update=":form:academicPanel,:form:growl"
									action="#{academicView.onView}" icon="ui-icon-folder-open">
									<f:setPropertyActionListener value="#{academic}"
										target="#{academicView.current}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="First Name">
								<h:outputText value="#{academic.athlete.firstName}" />
							</p:column>
							<p:column headerText="Middle Name">
								<h:outputText value="#{academic.athlete.middleName}" />
							</p:column>
							<p:column headerText="Last Name">
								<h:outputText value="#{academic.athlete.lastName}" />
							</p:column>
						</p:dataTable>
						<p:commandButton value="Create" update=":form:academicPanel"
							immediate="true" action="#{academicView.onAdd}"
							style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="academicViewPanel" class="card card-w-title"
						rendered="#{academicView.viewVisible}">
						<h1>Academic Details for #{academicView.current.athlete.firstName} #{academicView.current.athlete.middleName} #{academicView.current.athlete.lastName} </h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Advisor Name:" />
							<h:outputText value="#{academicView.current.advisorName}" />
							<p:outputLabel value="Advisor Phone:" />
							<h:outputText value="#{academicView.current.advisorPhone}" />
							<p:outputLabel value="Advisor Email:" />
							<h:outputText value="#{academicView.current.advisorEmail}" />
							<p:outputLabel value="Cumulative GPA:" />
							<h:outputText value="#{academicView.current.cumulativeGpa}" />
							<p:outputLabel value="Major:" />
							<h:outputText value="#{academicView.current.major}" />
							<p:outputLabel value="ACT Score:" />
							<h:outputText value="#{academicView.current.actScore}" />
							<p:outputLabel value="SAT Score:" />
							<h:outputText value="#{academicView.current.satScore}" />
							<p:outputLabel value="Tutor Name:" />
							<h:outputText value="#{academicView.current.tutorName}" />
							<p:outputLabel value="Tutor Phone:" />
							<h:outputText value="#{academicView.current.tutorPhone}" />
							<p:outputLabel value="Tutor Email:" />
							<h:outputText value="#{academicView.current.tutorEmail}" />
							
							



						</h:panelGrid>
						<br />
						<p:commandButton value="Edit"
							update=":form:academicPanel,:form:growl"
							action="#{academicView.onEdit}" style="margin-bottom: 30px;"
							icon="ui-icon-pencil" />
						<p:commandButton value="Done"
							update=":form:academicPanel,:form:growl"
							action="#{academicView.onList}" immediate="true"
							icon="ui-icon-close" />
						<p:commandButton value="Delete"
							update=":form:academicPanel,:form:growl"
							action="#{academicView.onDelete}" icon="ui-icon-minus">
							<p:confirm header="Please confirm"
								message="Are you sure you want to delete this DCA?  Action cannot be undone."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panel>

					<p:panel id="academicEditPanel" class="card card-w-title"
						rendered="#{academicView.editVisible}">
						<h1>#{academicView.current.persistent ? "Creating new" :
							"Updating existing"} academic record for #{academic.athlete.firstName} #{academic.athlete.middleName} #{academic.athlete.lastName}</h1>

						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Advisor Name:" />
							<p:inputText id="advisorName"
								value="#{academicView.current.advisorName}" />
							<p:outputLabel value="Advisor Phone:" />
							<p:inputText id="advisorPhone"
								value="#{academicView.current.advisorPhone}" />
							<p:outputLabel value="Advisor Email:" />
							<p:inputText id="advisorEmail"
								value="#{academicView.current.advisorEmail}" />
							<p:outputLabel value="Cumulative GPA:" />
							<p:inputText id="cumulativeGpa"
								value="#{academicView.current.cumulativeGpa}" />
							<p:outputLabel value="Major:" />
							<p:inputText id="major"
								value="#{academicView.current.major}" />
							<p:outputLabel value="ACT Score:" />
							<p:inputText id="actScore"
								value="#{academicView.current.actScore}" />
							<p:outputLabel value="SAT Score:" />
							<p:inputText id="satScore"
								value="#{academicView.current.satScore}" />
							<p:outputLabel value="Tutor Name:" />
							<p:inputText id="tutorName"
								value="#{academicView.current.tutorName}" />
							<p:outputLabel value="Tutor Phone:" />
							<p:inputText id="tutorPhone"
								value="#{academicView.current.tutorPhone}" />
							<p:outputLabel value="Tutor Email:" />
							<p:inputText id="tutorEmail"
								value="#{academicView.current.tutorEmail}" />
							<p:selectOneMenu id="athlete" value="#{academicView.current.athlete}" collectionType="java.util.ArrayList" converter="#{athleteConverter}">
						    	<f:selectItems value="#{athleteView.all}" var="athlete" itemLabel="#{athlete.firstName} #{athlete.middleName} #{athlete.lastName} " itemValue="#{athlete}" />
						    </p:selectOneMenu>	
								

						</h:panelGrid>
						<br />
						<p:commandButton value="Save"
							update=":form:academicPanel,:form:growl"
							action="#{academicView.onSave}" style="margin-top: 20px;"
							icon="ui-icon-disk" />
						<p:commandButton value="Cancel" update=":form:academicPanel"
							action="#{academicView.onList}" immediate="true"
							icon="ui-icon-cancel" />
					</p:panel>

				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
