<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Sample</ui:define>

	<ui:define name="head">
		<style type="text/css">
.ui-panelgrid.form-elements .ui-grc-2 {
	padding-left: 80px;
}

@media ( max-width :1024px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 20px;
	}
}

@media ( max-width :640px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 0px;
	}
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="ui-g">


				<p:panel id="physicalPanel" class="ui-g-8">
					<p:panel id="physicalList" class="card card-w-title"
						rendered="#{physicalView.listVisible}">
						<h1>Physical List</h1>
						<p:dataTable value="#{physicalView.all}" var="physical"
							rowKey="#{physical.id}" selectionMode="single" paginator="true"
							rows="10">
							<p:column style="width: 32px;">
								<p:commandButton title="Click for details"
									update=":form:physicalPanel,:form:growl"
									action="#{physicalView.onView}" icon="ui-icon-folder-open">
									<f:setPropertyActionListener value="#{physical}"
										target="#{physicalView.current}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="First Name">
								<h:outputText value="#{physical.athlete.firstName}" />
							</p:column>
							<p:column headerText="Middle Name">
								<h:outputText value="#{physical.athlete.middleName}" />
							</p:column>
							<p:column headerText="Last Name">
								<h:outputText value="#{physical.athlete.lastName}" />
							</p:column>
						</p:dataTable>
						<p:commandButton value="Create" update=":form:physicalPanel"
							immediate="true" action="#{physicalView.onAdd}"
							style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="physicalViewPanel" class="card card-w-title"
						rendered="#{physicalView.viewVisible}">
						<h1>Physical Details for #{physicalView.current.athlete.firstName} #{physicalView.current.athlete.middleName} #{physicalView.current.athlete.lastName} </h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Height:" />
							<h:outputText value="#{physicalView.current.height}" />
							<p:outputLabel value="Weight:" />
							<h:outputText value="#{physicalView.current.weight}" />
							<p:outputLabel value="Shirt Size:" />
							<h:outputText value="#{physicalView.current.shirtSize}" />
							<p:outputLabel value="Pant Size:" />
							<h:outputText value="#{physicalView.current.pantSize}" />
							<p:outputLabel value="Shoe Size:" />
							<h:outputText value="#{physicalView.current.shoeSize}" />
							<p:outputLabel value="Helmet Size:" />
							<h:outputText value="#{physicalView.current.helmetSize}" />
							<p:outputLabel value="Glove Size:" />
							<h:outputText value="#{physicalView.current.gloveSize}" />
							
							



						</h:panelGrid>
						<br />
						<p:commandButton value="Edit"
							update=":form:physicalPanel,:form:growl"
							action="#{physicalView.onEdit}" style="margin-bottom: 30px;"
							icon="ui-icon-pencil" />
						<p:commandButton value="Done"
							update=":form:physicalPanel,:form:growl"
							action="#{physicalView.onList}" immediate="true"
							icon="ui-icon-close" />
						<p:commandButton value="Delete"
							update=":form:physicalPanel,:form:growl"
							action="#{physicalView.onDelete}" icon="ui-icon-minus">
							<p:confirm header="Please confirm"
								message="Are you sure you want to delete this DCA?  Action cannot be undone."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panel>

					<p:panel id="physicalEditPanel" class="card card-w-title"
						rendered="#{physicalView.editVisible}">
						<h1>#{physicalView.current.persistent ? "Creating new" :
							"Updating existing"} physical record for #{physical.athlete.firstName} #{physical.athlete.middleName} #{physical.athlete.lastName}</h1>

						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Height:" />
							<p:inputText id="height"
								value="#{physicalView.current.height}" />
							<p:outputLabel value="Weight:" />
							<p:inputText id="weight"
								value="#{physicalView.current.weight}" />
							<p:outputLabel value="Shirt Size:" />
							<p:inputText id="shirtSize"
								value="#{physicalView.current.shirtSize}" />
							<p:outputLabel value="Pant Size:" />
							<p:inputText id="pantSize"
								value="#{physicalView.current.pantSize}" />
							<p:outputLabel value="Shoe Size:" />
							<p:inputText id="shoeSize"
								value="#{physicalView.current.shoeSize}" />
							<p:outputLabel value="Helmet Size:" />
							<p:inputText id="helmetSize"
								value="#{physicalView.current.helmetSize}" />
							<p:outputLabel value="Glove Size:" />
							<p:inputText id="gloveSize"
								value="#{physicalView.current.gloveSize}" />
							<p:selectOneMenu id="athlete" value="#{physicalView.current.athlete}" collectionType="java.util.ArrayList" converter="#{athleteConverter}">
						    	<f:selectItems value="#{athleteView.all}" var="athlete" itemLabel="#{athlete.firstName} #{athlete.middleName} #{athlete.lastName} " itemValue="#{athlete}" />
						    </p:selectOneMenu>	
								

						</h:panelGrid>
						<br />
						<p:commandButton value="Save"
							update=":form:physicalPanel,:form:growl"
							action="#{physicalView.onSave}" style="margin-top: 20px;"
							icon="ui-icon-disk" />
						<p:commandButton value="Cancel" update=":form:physicalPanel"
							action="#{physicalView.onList}" immediate="true"
							icon="ui-icon-cancel" />
					</p:panel>

				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
