<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Sample</ui:define>

	<ui:define name="head">
		<style type="text/css">
.ui-panelgrid.form-elements .ui-grc-2 {
	padding-left: 80px;
}

@media ( max-width :1024px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 20px;
	}
}

@media ( max-width :640px) {
	.ui-panelgrid.form-elements .ui-grc-2 {
		padding-left: 0px;
	}
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="ui-g">


				<p:panel id="mobilityPanel" class="ui-g-8">
					<p:panel id="mobilityList" class="card card-w-title"
						rendered="#{mobilityView.listVisible}">
						<h1>Mobility List</h1>
						<p:dataTable value="#{mobilityView.all}" var="mobility"
							rowKey="#{mobility.id}" selectionMode="single" paginator="true"
							rows="10">
							<p:column style="width: 32px;">
								<p:commandButton title="Click for details"
									update=":form:mobilityPanel,:form:growl"
									action="#{mobilityView.onView}" icon="ui-icon-folder-open">
									<f:setPropertyActionListener value="#{mobility}"
										target="#{mobilityView.current}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="First Name">
								<h:outputText value="#{mobility.athlete.firstName}" />
							</p:column>
							<p:column headerText="Middle Name">
								<h:outputText value="#{mobility.athlete.middleName}" />
							</p:column>
							<p:column headerText="Last Name">
								<h:outputText value="#{mobility.athlete.lastName}" />
							</p:column>
						</p:dataTable>
						<p:commandButton value="Create" update=":form:mobilityPanel"
							immediate="true" action="#{mobilityView.onAdd}"
							style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="mobilityViewPanel" class="card card-w-title"
						rendered="#{mobilityView.viewVisible}">
						<h1>Mobility Details for
							#{mobilityView.current.athlete.firstName}
							#{mobilityView.current.athlete.middleName}
							#{mobilityView.current.athlete.lastName}</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Hip:" />
							<h:outputText value="#{mobilityView.current.hip}" />
							<p:outputLabel value="Torso:" />
							<h:outputText value="#{mobilityView.current.torso}" />
							<p:outputLabel value="Shoulder:" />
							<h:outputText value="#{mobilityView.current.shoulder}" />
							<p:outputLabel value="Ankle:" />
							<h:outputText value="#{mobilityView.current.ankle}" />
							<p:outputLabel value="Neck:" />
							<h:outputText value="#{mobilityView.current.neck}" />
							<p:outputLabel value="Back:" />
							<h:outputText value="#{mobilityView.current.back}" />
							<p:outputLabel value="Squat:" />
							<h:outputText value="#{mobilityView.current.squat}" />





						</h:panelGrid>
						<br />
						<p:commandButton value="Edit"
							update=":form:mobilityPanel,:form:growl"
							action="#{mobilityView.onEdit}" style="margin-bottom: 30px;"
							icon="ui-icon-pencil" />
						<p:commandButton value="Done"
							update=":form:mobilityPanel,:form:growl"
							action="#{mobilityView.onList}" immediate="true"
							icon="ui-icon-close" />
						<p:commandButton value="Delete"
							update=":form:mobilityPanel,:form:growl"
							action="#{mobilityView.onDelete}" icon="ui-icon-minus">
							<p:confirm header="Please confirm"
								message="Are you sure you want to delete this DCA?  Action cannot be undone."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panel>

					<p:panel id="mobilityEditPanel" class="card card-w-title"
						rendered="#{mobilityView.editVisible}">
						<h1>#{mobilityView.current.persistent ? "Creating new" :
							"Updating existing"} mobility record for
							#{mobility.athlete.firstName} #{mobility.athlete.middleName}
							#{mobility.athlete.lastName}</h1>

						<h:panelGrid columns="2" cellpadding="5">
							<p:importConstants type="us.mvpapp.mobility.MobilityConstants"
								var="MobilityTypes" />
							<p:outputLabel value="Hip:" />
							<p:selectOneMenu id="hip" value="#{mobilityView.current.hip}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Torso:" />
							<p:selectOneMenu id="torso" value="#{mobilityView.current.torso}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Shoulder:" />
							<p:selectOneMenu id="shoulder"
								value="#{mobilityView.current.shoulder}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Ankle:" />
							<p:selectOneMenu id="ankle" value="#{mobilityView.current.ankle}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Neck:" />
							<p:selectOneMenu id="neck" value="#{mobilityView.current.neck}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Back:" />
							<p:selectOneMenu id="back" value="#{mobilityView.current.back}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:outputLabel value="Squat:" />
							<p:selectOneMenu id="squat" value="#{mobilityView.current.squat}">
								<f:selectItems value="#{MobilityTypes}" />
							</p:selectOneMenu>
							<p:selectOneMenu id="athlete"
								value="#{mobilityView.current.athlete}"
								collectionType="java.util.ArrayList"
								converter="#{athleteConverter}">
								<f:selectItems value="#{athleteView.all}" var="athlete"
									itemLabel="#{athlete.firstName} #{athlete.middleName} #{athlete.lastName} "
									itemValue="#{athlete}" />
							</p:selectOneMenu>


						</h:panelGrid>
						<br />
						<p:commandButton value="Save"
							update=":form:mobilityPanel,:form:growl"
							action="#{mobilityView.onSave}" style="margin-top: 20px;"
							icon="ui-icon-disk" />
						<p:commandButton value="Cancel" update=":form:mobilityPanel"
							action="#{mobilityView.onList}" immediate="true"
							icon="ui-icon-cancel" />
					</p:panel>

				</p:panel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
