<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Documentation</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .docs h1 {
                margin-top: 30px;
            }
            
            .docs pre {
                font-family: monospace;
                background-color: #747481;
                color: #ffffff;
                padding: 1em;
                font-size: 14px;
                border-radius: 3px;
                overflow: auto;
            }
            
            .video-container {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
            }
            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>
    </ui:define>

    <ui:define name="content">
    
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card docs">                    
                    <h1>Layout</h1>
                    <p>Verona utilizes <a href="http://docs.oracle.com/javaee/6/tutorial/doc/giqxp.html">JSF templating APIs</a> and provides a main template.xhtml along with additional <i>topbar</i>, <i>menu</i>, <i>footer</i> fragments for the base layout. 
                        These xhtml files must be placed under WEB-INF folder and client pages should reference the template.xhtml as their template. 
                        Provided empty.xhtml is a sample content page using the main template.xhtml that defines "content" as the main ui:define placeholder. By default template defines 3 placeholders 
                        (page title, header content and actual content)to insert content and you can add more as per your requirements.</p>
                        
                    <p>Sample page below uses the main template from Verona.</p>
<pre>
&lt;ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"&gt;
                
    &lt;ui:define name="title"&gt;Test Page&lt;/ui:define&gt;

    &lt;ui:define name="content"&gt;
        Content goes here
    &lt;/ui:define&gt;
&lt;/ui:composition&gt;
</pre>
                    
                    <p>Other required resources are the css, js and images that are located inside resources/verona-layout folder, simply copy the verona-layout folder to your %WEB-APP-FOLDER%/resources folder 
                        so that final path would be %WEB-APP-FOLDER%/resources/verona-layout/. Please refer to demo app or maven project of the demo app as the reference.</p>
                    
                    <h1>Theme</h1>    
                    <p>Verona provides 5 PrimeFaces themes out of the box, setup of a theme simple as including the theme jar in your classpath and defining primefaces.THEME context parameter in web.xml such as "primefaces-verona-green". Full list of 
                    available themes are;</p>
                    
                    <ul>
                        <li>primefaces-verona-green</li>
                        <li>primefaces-verona-teal</li>
                        <li>primefaces-verona-blue</li>
                        <li>primefaces-verona-amber</li>
                        <li>primefaces-verona-purple</li>
                    </ul>
                    
                    <p>A custom theme can be developed by the following steps.</p>
                    <ul>
                        <li>Choose a custom theme name such as primefaces-verona-myown.</li>
                        <li>Create a folder named primefaces-verona-myown and place an empty theme.scss inside</li>
                        <li>Copy the sass folder from the distribution to your application.</li>
                        <li>Define the variables listed below and import the <i>/sass/theme/_theme.scss</i> file.</li>
                        <li>Build the scss to generate css</li>
                        <li>Set primefaces.THEME context parameter as <i>verona-myown</i></li>
                        <li>Either bundle the css in a jar file or serve from webapp/resources/primefaces-verona-myown folder</li>
                    </ul>
                    
                    <p>Here are the variables required to create a theme, you may need to change the last line according to the 
                        relative path of the sass folder in your application.</p>
                        
<pre>
$primaryColor:#3ebaf8;
$inputFocusBgColor:#c3e9fc;

@import '../sass/theme/_theme';
</pre> 
                        
                    <p> An example sass command to compile the css would be;</p>
                        
<pre>
sass src/main/webapp/resources/primefaces-verona-myown/theme.scss src/main/webapp/resources/primefaces-verona-myown/theme.css  --sourcemap=none
</pre> 

                    <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
                    so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre>
sass -w src/main/webapp/resources/ --sourcemap=none
</pre> 
                    <p>In case you'd like to customize the structure not just the colors, the _variables.scss is where the structural variables (e.g. font size, paddings) for the layout are defined.</p>
<pre>
/* Common */
$fontFamily: "Lato","Helvetica Neue",sans-serif;
$fontSize:13px;
$textColor:#2d353c;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:2px;
$dividerColor:#dce2e7;
$iconFontSize:13px;
$iconWidth:16px;
$iconHeight:16px;
$highlightTextColor:#ffffff;

/* Layout */
$bodyBgColor:#e5edef;
$footerBgColor:#dee0e3;

/******************************/
/*           THEME            */
/******************************/

/* Headers */
$headerPadding:6px 12px;
$headerBgColor:#3b3b48;
$headerTextColor:#cfcfd9;
$headerHoverBgColor:#4E4E5A;
$headerBorderColor:#3b3b48;
$headerIconColor:#cfcfd9;
$headerIconHoverColor:#f7f7f8;

/* Contents */
$contentPadding:6px 12px;
$contentBorderColor:#dce2e7;
$contentBgColor:#f5f8f9;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding:4px;
$inputBorderColor:#dce2e7;
$inputHoverBorderColor:#a8b4be;
$inputInvalidBorderColor:#e13131;

/* Buttons */
$buttonTextColor:#ffffff;
$toggleButtonBgColor:#c6cbcf;

/* List Items */
$listItemPadding:6px 12px;
$listItemHoverBgColor:#dce2e7;
$listItemHoverTextColor:#525262;

/* Messages */
$infoMessageBgColor:#e0f6b1;
$infoMessageTextColor:#7fb30f;
$warnMessageBgColor:#fff1ae;
$warnMessageTextColor:#f7b000;
$errorMessageBgColor:#f0d1d0;
$errorMessageTextColor:#e96d66;
$fatalMessageBgColor:#afafc0;
$fatalMessageTextColor:#3b3b48;

/* Data */
$paginatorBgColor:#ffffff;
$paginatorHoverBgColor:#dce2e7;
$datableOddRowBgColor:#ffffff;
$datatableHoverBgColor:#dce2e7;

/* Predefined Colors */
$blue:#f7cb00;
$orange:#ff9c59;
$purple:#985edb;
$pink:#f18983;
$green:#9fd037;
$black:#525262;
</pre>        

                    <h1>Menu</h1>    
                    <p>Menu is a regular JSF component that supports PrimeFaces MenuModel API allowing both declarative and programmatic approaches.</p>
<pre>
xmlns:pv="http://primefaces.org/verona"

&lt;pv:menu&gt;
&lt;/pv:menu&gt;
</pre>  
                    <p>Menu has 2 modes, inline and popup. Layout wrapper element in template.xhtml is used to define which mode to use by adding specific classes. List
                    below indicates the style classes for each mode.</p>
                    <ul>
                        <li>Overlay: Default menu</li>
                        <li>Static: "layout-menu-static"</li>
                    </ul>
                    
                    <p>For example to create a static menu, the div element should be in following form;</p>
<pre>
&lt;div class="layout-wrapper layout-menu-static"&gt;
    ...
&lt;/div&gt;
</pre>            

                    <p>As popup mode is the default one, no additional style class is required. Note that for smalls screens menus is always
                    displayed in a popup.</p>

                    <h1>Icons</h1>
                    <p>Verona Layout uses font awesome icons for layout so enable font awesome support in PrimeFaces by setting primefaces.FONT_AWESOME context parameter in web.xml as true. If your PrimeFaces version 
                    does not have the font awesome integration, include the font-awesome manually in your application.</p>

                    <h1>Card</h1>
                    <p>Card is a section to group content and layout provides a built-in css for it. Apply .card style class to your container to use it. If the
                    card has a title defined with h1 tag, add card-w-title to adjust paddings.</p>
<pre>
&lt;div class="card"&gt;
    Content here
&lt;/div&gt;

&lt;div class="card card-w-title"&gt;
    &lt;h1&gt;Card with Title&lt;h1&gt;
    Content here
&lt;/div&gt;
</pre>  

                    <h1>Grid CSS</h1>
                    <p>Verona uses new PrimeFaces Grid CSS (ui-g-*) throughout the samples, we strongly suggest using Grid CSS as your layout framework as it is well tested and supported by PrimeFaces. Grid CSS 
                    is automatically included on newer versions however if your PrimeFaces version is older than 5.3.14, add the provided grid.css file under /verona-layout/css/ folder to your template manually.</p> 
                    
                    <h1>Tips</h1>
                    <ul>
                        <li>Familiarity with <a href="http://sass-lang.com/">SASS</a> is required to make customizations to the layout and theme.</li>
                        <li>Demo application war and the maven project tag are included in distribution however you don't necessarily need them to install Verona, the actual artifacts required are the layout zip file and the theme jar.</li>
                        <li>Sample demo application war includes the JSF libraries so it is suggested to remove them from the war file when you deploy to an appserver.</li>
                        <li>When running the maven project, you need to build the sass with (sass --update src/main/webapp/resources/ --sourcemap=none) command.</li>
                    </ul>    
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>