<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="equipmentPanel" class="ui-g-12">            
                    <p:panel id="equipmentList" class="card card-w-title" rendered="#{equipmentView.listVisible}">
                        <h1>Equipments</h1>
                        <p:commandButton value="Add Equipment" title="Click to add a new piece of equipment" update=":form:equipmentPanel" immediate="true" action="#{equipmentView.onAdd}" style="margin-bottom: 10px;" icon="ui-icon-plus" />
                        <p:dataTable value="#{equipmentView.all}" 
                        			 var="equipment"
                                     rowKey="#{equipment.id}" 
                                     paginator="true" rows="10"
                                     paginatorPosition="bottom">
                            <p:column style="width: 32px;">
			        			<p:commandButton title="Click for details" update=":form:equipmentPanel,:form:growl" action="#{equipmentView.onView}" icon="ui-icon-folder-open">
			        				<f:setPropertyActionListener value="#{equipment}" target="#{equipmentView.current}" />
			        			</p:commandButton>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{equipment.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{equipment.description}" />
                            </p:column>
                        </p:dataTable>                        
					</p:panel>

					<p:panel id="equipmentViewPanel" class="card card-w-title" rendered="#{equipmentView.viewVisible}">
						<h1>Equipment Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{equipmentView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{equipmentView.current.description}" />
						</h:panelGrid><br />
						<p:commandButton value="Edit" title="Make changes to this equipment" update=":form:equipmentPanel,:form:growl" action="#{equipmentView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" title="Return to equipment list" update=":form:equipmentPanel,:form:growl" action="#{equipmentView.onList}" immediate="true" icon="ui-icon-folder-collapsed" />
	        			<p:commandButton value="Delete..." title="Delete equipment - you will be prompted to confirm" update=":form:equipmentPanel,:form:growl" action="#{equipmentView.onDelete}" icon="ui-icon-minus" style="margin-left: 30px;">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this equipment?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
	        			
					</p:panel>

                	<p:panel id="equipmentEditPanel" class="card card-w-title" rendered="#{equipmentView.editVisible}">
                		<h1>#{equipmentView.current.persistent ? "Updating" : "Creating new"} equipment</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{equipmentView.current.name}" required="true" requiredMessage="Name is required"/>
							<p:outputLabel value="Description:" />
							<p:inputTextarea id="description" value="#{equipmentView.current.description}" cols="50" />						    
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:equipmentPanel,:form:growl" action="#{equipmentView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:equipmentPanel" action="#{equipmentView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>
                	
				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
