<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="exercisePanel" class="ui-g-12">            
                    <p:panel id="exerciseList" class="card card-w-title" rendered="#{exerciseView.listVisible}">
                        <h1>Exercises</h1>
                        <p:commandButton value="Create a new exercise" title="Click to create new exercise" update=":form:exercisePanel" immediate="true" action="#{exerciseView.onAdd}" style="margin-bottom: 10px;" icon="ui-icon-plus" />
                        <p:dataTable value="#{exerciseView.all}" 
                        			 var="exercise"
                                     rowKey="#{exercise.id}" 
                                     paginator="true" rows="10"
                                     paginatorPosition="bottom">
                            <p:column style="width: 32px;">
			        			<p:commandButton title="Click for details" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onView}" icon="ui-icon-folder-open">
			        				<f:setPropertyActionListener value="#{exercise}" target="#{exerciseView.current}" />
			        			</p:commandButton>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{exercise.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{exercise.description}" />
                            </p:column>
                            <p:column headerText="Testable" style="width: 50px;">
                                <h:outputText value="#{exercise.testable}" />
                            </p:column>
                            <p:column headerText="Unit of Measure" style="width: 50px;">
                                <h:outputText value="#{exercise.unitOfMeasure.description}" />
                            </p:column>                     
                            <p:column headerText="Equipment">
							    <p:repeat value="#{exercise.equipment}" var="equipment" varStatus="status">
							        #{equipment.name}<h:outputText value="," rendered="#{!status.last}"/>
							    </p:repeat>
							</p:column>
                        </p:dataTable>                        
					</p:panel>

					<p:panel id="exerciseViewPanel" class="card card-w-title" rendered="#{exerciseView.viewVisible}">
						<h1>Exercise Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{exerciseView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{exerciseView.current.description}" />
							<p:outputLabel value="Testable:" />
							<h:outputText value="#{exerciseView.current.testable}" />
							<p:outputLabel value="Unit of Measure:" />
							<h:outputText value="#{exerciseView.current.unitOfMeasure.description}" />							
							<p:outputLabel value="Equipment" />
    						<p:repeat value="#{exerciseView.current.equipment}" var="equipment" varStatus="status" rendered="#{not empty exerciseView.current.equipment}">
						    	#{equipment.name}<h:outputText value="," rendered="#{!status.last}"/>
						    </p:repeat>
						</h:panelGrid><br />
						<p:commandButton value="Edit" title="Make changes to this exercise" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" title="Return to exercise list" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onList}" immediate="true" icon="ui-icon-folder-collapsed" />
	        			<p:commandButton value="Delete..." title="Delete exercise - you will be prompted to confirm" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onDelete}" icon="ui-icon-minus" style="margin-left: 30px;">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this exercise?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
	        			
					</p:panel>

                	<p:panel id="exerciseEditPanel" class="card card-w-title" rendered="#{exerciseView.editVisible}">
                		<h1>#{exerciseView.current.persistent ? "Updating" : "Creating new"} exercise</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{exerciseView.current.name}" required="true" requiredMessage="Name is required"/>
							<p:outputLabel value="Description:" />
							<p:inputTextarea id="description" value="#{exerciseView.current.description}" cols="50" />
							<p:outputLabel value="Testable?:" />
							<p:selectBooleanCheckbox id="testable" value="#{exerciseView.current.testable}" required="true" />
							<p:outputLabel for="equipment" value="Equipment:" />
						    <p:selectManyCheckbox id="equipment" value="#{exerciseView.current.equipment}" layout="grid" columns="3" collectionType="java.util.ArrayList">
						    	<f:selectItems value="#{equipmentView.all}" var="equipment" itemLabel="#{equipment.name}" itemValue="#{equipment}" />
						    </p:selectManyCheckbox>
						    <p:selectOneMenu id="unitOfMeasure" value="#{exerciseView.current.unitOfMeasure}" collectionType="java.util.ArrayList" converter="#{unitOfMeasureConverter}">
						    	<f:selectItems value="#{unitOfMeasureView.all}" var="unitOfMeasure" itemLabel="#{unitOfMeasure.description}" itemValue="#{unitOfMeasure}" />
						    </p:selectOneMenu>
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:exercisePanel,:form:growl" action="#{exerciseView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:exercisePanel" action="#{exerciseView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>
                	
				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
