<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Equipment</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
		<h:form id="form">
			<p:growl id="growl" life="3000" />
			<p:panel id="outerPanel">					
				<p:panel id="aggregateListPanel">
					<p:commandButton value="Create Aggregate" actionListener="#{aggregateBean.onCreate}" immediate="true" update="outerPanel" /><br />
				    <p:dataTable value="#{aggregateBean.all}" var="aggregate" 
                                    rowKey="#{aggregate.id}" 
                                    selectionMode="single"
                                     
				    			 	type="ordered">
				        <f:facet name="header">
				            Aggregates
				        </f:facet>
				        <p:ajax event="rowSelect" listener="#{aggregateBean.onRowSelect}" update=":form:outerPanel,:form:growl" />
				        <p:column headerText="Name">
				            <h:outputText value="Aggregate #{aggregate.id}" />
				        </p:column>
				        <p:column>
						    <p:repeat value="#{aggregate.parts}" var="part" varStatus="status">
						        Part #{part.id}<h:outputText value="," rendered="#{!status.last}"/>
						    </p:repeat>
						</p:column>								        
				    </p:dataTable><br /><br />						
				    <p:panel id="aggregateEditPanel" rendered="#{aggregateBean.current != null}">
				    	Aggregate: <h:outputText value="#{aggregateBean.current.id}" />
					    <p:selectManyCheckbox id="parts" value="#{aggregateBean.current.parts}" layout="grid" columns="3" collectionType="java.util.ArrayList">
					        <f:selectItems value="#{partBean.all}" var="part" itemLabel="#{part.id}" itemValue="#{part}" />
					    </p:selectManyCheckbox>				
					    <p:commandButton value="Save Aggregate" actionListener="#{aggregateBean.onSave}" update=":form:outerPanel,:form:growl" /><br />
				    </p:panel>
				 </p:panel>
				 <p:panel id="partPanel">
			    	<p:commandButton value="Create Part" actionListener="#{partBean.onCreate}" immediate="true" update="outerPanel" /><br />
				    <p:dataList value="#{partBean.all}" var="part" type="ordered">
				        <f:facet name="header">
				            Parts
				        </f:facet>
				        Part #{part.id}
				    </p:dataList>
				 </p:panel>			    
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>