<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="programPanel" class="ui-g-12">            
                    <p:panel id="programList" class="card card-w-title" rendered="#{programView.listVisible}">
                        <h1>Program List</h1>
                        <p:dataTable value="#{programView.all}" 
                        			 var="program"
                                     rowKey="#{program.id}" 
                                     selectionMode="single"
                                     paginator="true" rows="10">
                            <p:ajax event="rowSelect" listener="#{programView.onRowSelect}" update=":form:programPanel" />
                            <p:column headerText="Name">
                                <h:outputText value="#{program.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{program.description}" />
                            </p:column>
                            <p:column headerText="Start Date" style="width: 90px;">
                                <h:outputText value="#{program.startDate}">
                                	<f:convertDateTime pattern="yyyy/MM/dd" />
                                </h:outputText>
                            </p:column>                            
                            <p:column headerText="End Date" style="width: 90px;">
                                <h:outputText value="#{program.endDate}">
                                	<f:convertDateTime pattern="yyyy/MM/dd" />
                                </h:outputText>
                            </p:column>                                    
                        </p:dataTable>
                        <p:commandButton value="Create" update=":form:programPanel" immediate="true" action="#{programView.onAdd}" style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="programViewPanel" class="card card-w-title" rendered="#{programView.viewVisible}">
						<h1>Program Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{programView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{programView.current.description}" />
						</h:panelGrid><br />
						<p:commandButton value="Edit" update=":form:programPanel,:form:growl" action="#{programView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" update=":form:programPanel,:form:growl" action="#{programView.onList}" immediate="true" icon="ui-icon-close" />
	        			<p:commandButton value="Delete" update=":form:programPanel,:form:growl" action="#{programView.onDelete}" icon="ui-icon-minus">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this DCA?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
					</p:panel>

                	<p:panel id="programEditPanel" class="card card-w-title" rendered="#{programView.editVisible}">
                		<h1>#{programView.current.persistent ? "Creating new" : "Updating existing"} program</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{programView.current.name}" required="true" requiredMessage="Name is required"/>
							<p:outputLabel value="Description:" />
							<p:inputText id="description" value="#{programView.current.description}" required="true" requiredMessage="Description is required"/>
       						<p:outputLabel for="startDate" value="Start Date:" />
       						<p:calendar id="startDate" value="#{programView.current.startDate}" pattern="yyyy/MM/dd" mask="true" />
       						<p:outputLabel for="endDate" value="End Date:" />
       						<p:calendar id="endDate" value="#{programView.current.endDate}" pattern="yyyy/MM/dd" mask="true" />					
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:programPanel,:form:growl" action="#{programView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:programPanel" action="#{programView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>
                	
				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
