<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="workoutPhasePanel" class="ui-g-12">            
                    <p:panel id="workoutPhaseList" class="card card-w-title" rendered="#{workoutPhaseView.listVisible}">
                        <h1>WorkoutPhases</h1>
                        <p:commandButton value="Add WorkoutPhase" title="Click to add a new piece of workoutPhase" update=":form:workoutPhasePanel" immediate="true" action="#{workoutPhaseView.onAdd}" style="margin-bottom: 10px;" icon="ui-icon-plus" />
                        <p:dataTable value="#{workoutPhaseView.all}" 
                        			 var="workoutPhase"
                                     rowKey="#{workoutPhase.id}" 
                                     paginator="true" rows="10"
                                     paginatorPosition="bottom">
                            <p:column style="width: 32px;">
			        			<p:commandButton title="Click for details" update=":form:workoutPhasePanel,:form:growl" action="#{workoutPhaseView.onView}" icon="ui-icon-folder-open">
			        				<f:setPropertyActionListener value="#{workoutPhase}" target="#{workoutPhaseView.current}" />
			        			</p:commandButton>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{workoutPhase.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{workoutPhase.description}" />
                            </p:column>
                        </p:dataTable>                        
					</p:panel>

					<p:panel id="workoutPhaseViewPanel" class="card card-w-title" rendered="#{workoutPhaseView.viewVisible}">
						<h1>WorkoutPhase Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{workoutPhaseView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{workoutPhaseView.current.description}" />
						</h:panelGrid><br />
						<p:commandButton value="Edit" title="Make changes to this workoutPhase" update=":form:workoutPhasePanel,:form:growl" action="#{workoutPhaseView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" title="Return to workoutPhase list" update=":form:workoutPhasePanel,:form:growl" action="#{workoutPhaseView.onList}" immediate="true" icon="ui-icon-folder-collapsed" />
	        			<p:commandButton value="Delete..." title="Delete workoutPhase - you will be prompted to confirm" update=":form:workoutPhasePanel,:form:growl" action="#{workoutPhaseView.onDelete}" icon="ui-icon-minus" style="margin-left: 30px;">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this workoutPhase?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
	        			
					</p:panel>

                	<p:panel id="workoutPhaseEditPanel" class="card card-w-title" rendered="#{workoutPhaseView.editVisible}">
                		<h1>#{workoutPhaseView.current.persistent ? "Updating" : "Creating new"} workoutPhase</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{workoutPhaseView.current.name}" required="true" requiredMessage="Name is required"/>
							<p:outputLabel value="Description:" />
							<p:inputTextarea id="description" value="#{workoutPhaseView.current.description}" cols="50" />						    
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:workoutPhasePanel,:form:growl" action="#{workoutPhaseView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:workoutPhasePanel" action="#{workoutPhaseView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>
                	
				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
