<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Sample</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
			.data-table-no-header thead {
			    display: none;
			}        

            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 80px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }
            
            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 0px;
                }
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">            
        	<p:growl id="growl" life="3000" />

		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
            	
            <div class="ui-g">
     			<p:panel id="workoutPanel" class="ui-g-12">           
                    <p:panel id="workoutList" class="card card-w-title" rendered="#{workoutView.listVisible}">
                        <h1>Workouts</h1>
                        <p:commandButton value="Add Workout" title="Click to add a new workout" update=":form:workoutPanel" immediate="true" action="#{workoutView.onAdd}" style="margin-bottom: 10px;" icon="ui-icon-plus" />
                        <p:dataTable value="#{workoutView.all}" 
                        			 var="workout"
                                     rowKey="#{workout.id}" 
                                     paginator="true" rows="10"
                                     paginatorPosition="bottom">
                            <p:column style="width: 32px;">
			        			<p:commandButton title="Click for details" update=":form:workoutPanel,:form:growl" action="#{workoutView.onView}" icon="ui-icon-folder-open">
			        				<f:setPropertyActionListener value="#{workout}" target="#{workoutView.current}" />
			        			</p:commandButton>
                            </p:column>
                            <p:column headerText="Name" style="width: 30%;">
                                <h:outputText value="#{workout.name}" />
                            </p:column>                            
                            <p:column headerText="Description">
                                <h:outputText value="#{workout.description}" />
                            </p:column>                            
                            <p:column headerText="Optional" style="width: 50px;">
                                <h:outputText value="#{workout.optionalFlag}" />
                            </p:column>                        
                        </p:dataTable>
                        <p:commandButton value="Create" update=":form:workoutPanel" immediate="true" action="#{workoutView.onAdd}" style="margin-top: 30px; margin-right: 3px;" icon="ui-icon-plus" />
					</p:panel>

					<p:panel id="workoutViewPanel" class="card card-w-title" rendered="#{workoutView.viewVisible}">
						<h1>Workout Details</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<h:outputText value="#{workoutView.current.name}" />						
							<p:outputLabel value="Description:" />
							<h:outputText value="#{workoutView.current.description}" />
						</h:panelGrid><br />
						<p:commandButton value="Edit" update=":form:workoutPanel,:form:growl" action="#{workoutView.onEdit}" style="margin-bottom: 30px;" icon="ui-icon-pencil" />			
	       				<p:commandButton value="Done" update=":form:workoutPanel,:form:growl" action="#{workoutView.onList}" immediate="true" icon="ui-icon-close" />
	        			<p:commandButton value="Delete" update=":form:workoutPanel,:form:growl" action="#{workoutView.onDelete}" icon="ui-icon-minus">
	        				<p:confirm header="Please confirm" message="Are you sure you want to delete this DCA?  Action cannot be undone." icon="ui-icon-alert" />
	        			</p:commandButton>
                        <p:dataTable value="#{workoutView.current.workoutPhases}"
                        			 var="workoutPhase"
                                     rowKey="#{workoutPhase.id}"
                                     styleClass="data-table-no-header">
                            <p:column style="width: 32px;">
								<p:commandButton title="Add Workout Detail" update=":form:workoutPanel,:form:growl" action="#{workoutDetailView.onAdd}" immediate="true" icon="ui-icon-plus">
									<f:setPropertyActionListener value="#{workoutPhase}" target="#{workoutDetailView.workoutPhase}" />
								</p:commandButton>
                            </p:column>                                                                          
                            <p:column style="width: 75px; white-space: nowrap;">
                                <h:outputText value="#{workoutPhase.name}" title="#{workoutPhase.description}" />
                            </p:column>
                            <p:column>
                                <p:dataTable value="#{workoutView.current.workoutDetails[workoutPhase].workoutDetails}" var="workoutDetail">
		                            <p:column style="width: 32px;">
								        <p:column style="width:16px">
								            <p:rowToggler />
								        </p:column>					        			
		                            </p:column>
		                            <p:column>
		                                <h:outputText value="#{workoutDetail.exercise.name}" />
		                            </p:column>
		                            <p:column>
					        			<p:commandButton value="Delete" update=":form:workoutPanel,:form:growl" action="#{workoutDetailView.onDelete}" icon="ui-icon-minus">
					        				<p:confirm header="Please confirm" message="Are you sure?" icon="ui-icon-alert" />
					        				<f:setPropertyActionListener value="#{workoutDetail}" target="#{workoutDetailView.current}" />
					        				<f:setPropertyActionListener value="#{workoutPhase}" target="#{workoutDetailView.workoutPhase}" />
					        			</p:commandButton>		                                
		                            </p:column>		                            
		                            <p:rowExpansion>
		                            	Lot's of things will go here.
		                            </p:rowExpansion>
                                </p:dataTable>
                            </p:column>                                                    
                        </p:dataTable>
					</p:panel>

                	<p:panel id="workoutEditPanel" class="card card-w-title" rendered="#{workoutView.editVisible}">
                		<h1>#{workoutView.current.persistent ? "Creating new" : "Updating existing"} workout</h1>
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel value="Name:" />
							<p:inputText id="name" value="#{workoutView.current.name}" required="true" requiredMessage="Name is required" />
							<p:outputLabel value="Description:" />
							<p:inputTextarea id="description" value="#{workoutView.current.description}" cols="33" rows="5" />
							<p:outputLabel value="Instructions" />
							<p:inputTextarea id="instructions" value="#{workoutView.current.instructions}" cols="33" rows="5"/>
							<p:outputLabel value="Optional Exercise?" />
							<p:selectBooleanCheckbox id="optionalFlag" value="#{workoutView.current.optionalFlag}" required="true" />
						    <p:selectManyCheckbox id="workoutPhase" value="#{workoutView.current.workoutPhases}" layout="grid" columns="3" collectionType="java.util.ArrayList">
						    	<f:selectItems value="#{workoutPhaseView.all}" var="workoutPhase" itemLabel="#{workoutPhase.name}" itemValue="#{workoutPhase}" />
						    </p:selectManyCheckbox>
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:workoutPanel,:form:growl" action="#{workoutView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:workoutPanel" action="#{workoutView.onList}" immediate="true" icon="ui-icon-cancel" />				       						
                	</p:panel>

					<p:panel id="workoutDetailEditPanel" class="card card-w-title"  rendered="#{workoutDetailView.editVisible}">
                		<h1>#{workoutDetailView.current.persistent ? "Creating new" : "Updating existing"} workout detail in #{workoutDetailView.workoutPhase.name}</h1>
						<h:panelGrid columns="2" cellpadding="5">		
							<p:outputLabel value="Exercise:" />
						    <p:selectOneMenu id="exercise" value="#{workoutDetailView.current.exercise}" converter="#{exerciseConverter}">
						    	<f:selectItems value="#{exerciseView.all}" var="exercise" itemLabel="#{exercise.name}" itemValue="#{exercise}" />
						    </p:selectOneMenu>
						</h:panelGrid><br />
						<p:commandButton value="Save" update=":form:workoutPanel,:form:growl" action="#{workoutDetailView.onSave}" style="margin-top: 20px;" icon="ui-icon-disk" />
				       	<p:commandButton value="Cancel" update=":form:workoutPanel" action="#{workoutView.onView}" immediate="true" icon="ui-icon-cancel">
				       		<f:setPropertyActionListener value="#{false}" target="#{workoutDetailView.editVisible}" />
				       	</p:commandButton>				       						
					</p:panel>

				</p:panel>
			</div>
    	</h:form>
	</ui:define>

</ui:composition>
